html, body {
	overflow: visible;
}

/* Шапка приложения */
.add-btn {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	z-index: 1
}

.add-input {
	margin-left: 44px;
}

#no-items {
	padding: 2rem 0;
	color: lightgray;
	font-style: italic;
}

/* Модальное окно */
.btn-grouped {
	margin: 10px 0 0;
	display: flex;
	flex-direction: row;
}

#add-button {
	margin: 0 10px 0 0;
}

.modal-content {
	padding: 0 20px;
	overflow: visible
}
